// Define all required and optional input parameters
params {
    // Pipeline inputs
    sra_id      = null
    reads       = null
    ref_id      = null // New feature! Picking ref genome from NCBI!
    reference   = null
    outdir      = "results"
    
    // Path to local conda environment (can be overridden in terminal)
    conda_env        = "$HOME/miniconda3/envs/my_bio_env" 
}

profiles {
    // Profile A: local execution
    local {
        process.executor = 'local'
        process.cpus     = 4
        process.memory   = '8 GB'
        
        conda.enabled    = true
        // Forces all processes to use the exact environment path provided in the params
        process.conda    = params.conda_env 
    }

    // Profile B: cluster execution
    cluster {
        process.executor = 'slurm'      // It is supposed to be the most popular option, but I am trusting google search with this one
        
        // Typical cluster hardware expectations 
        process.cpus     = 16
        process.memory   = '32 GB'
        process.time     = '24h'
        
        // Use singularity instead of Docker to bypass root access requirements
        singularity.enabled    = true
        singularity.autoMounts = true   // Also suggested online to mount $HOME and /tmp directories
    }

    // Profile C: container (Docker)
    container {
        process.executor = 'local'
        process.cpus     = 4
        process.memory   = '16 GB'      
        
        docker.enabled   = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
        
        process.container = 'd45t4n/pipelines_hw3'
    }
}

// Global process configuration, retrying it once before crashing, performing processes from specific images
process {
    errorStrategy = 'retry'
    maxRetries    = 1

    withName: 'FETCH_SRA|FASTQC|TRIMMOMATIC|FETCH_REFERENCE' {
        container = 'd45t4n/pipelines_hw3-1:v3'
    }
    
    withName: 'SPADES|MAP_READS|BCFTOOLS_CALL' {
        container = 'd45t4n/pipelines_hw3-2'
    }
    
    withName: 'PLOT_STATS' {
        container = 'd45t4n/pipelines_hw3-3:v2'
    }
}